---cson
layout: 'deck_unit'
title: "Mental States"
tags: []
description: """
  When you say ‘Steve desires that Clark fly, you are attributing a mental state to me.
  We can think of mental states as having three basic components: the subject (you or me, say),
  the attitude (belief or desire, say) and the content (that Clark fly, or that Superman carry Ayesha).
  """
book : []
exercises : [
  "/ex/TorF/qq/Belief is one kind of mental state|Mental states consist of a subject, an attitude and a content|The attitude of a belief is what makes it true or false"
]
streamId:'4e48516f-f512-4c74-94f5-637f4852bb23'
---

include ../../../../fragments/unit_mixins
include ../../../../fragments/words_things_mixins


+slide({bkg:'model_of_the_mental/slide01.jpg'})
+slide({bkg:'model_of_the_mental/slide02.jpg'})
+slide({bkg:'model_of_the_mental/slide03.jpg'})
+slide({bkg:'model_of_the_mental/slide04.jpg'})
+slide({bkg:'model_of_the_mental/slide05.jpg'})
+slide({bkg:'model_of_the_mental/slide06.jpg'})
+slide({bkg:'model_of_the_mental/slide07.jpg'})
