---cson
layout: 'deck_unit'
title: "Propositions"
tags: []
description: """
  We use propositions to individuate the contents of mental states. But what are propositions?
  """
depends: ['']
book: [
  """McGrath, Matthew and Devin Frank, "Propositions", The Stanford Encyclopedia of Philosophy (Spring 2018 Edition), Edward N. Zalta (ed.), URL = <https://plato.stanford.edu/archives/spr2018/entries/propositions/>."""
]
exercises : [
  "/ex/TorF/qq/Propositions can be true or false|Propositions are sentences|Logic makes your lecturer die inside",
]
---

include ../../../../fragments/unit_mixins
include ../../../../fragments/words_things_mixins


+slide({bkg:'model_of_the_mental/slide04.jpg'})
  .notes: :t
    We’ve seen that mental states have three basic components.
    We’re focussing on the content.


+slide_middle({bkg:'model_of_the_mental/slide07.jpg'})
  .notes: :t
    I was just asking, 
    What distinguishes the contents of mental states?
  p.hem-around What distinguishes the contents of mental states?
  .slide
    p.indent - propositions
    .notes: :t
      The correct answer is, propositions. But what are propositions?


      
+slide_rh_white({step:true})
  +left_half
    p.hem-around Propositions can be true or false.
    .slide
      p.hem-around Propositions are abstract objects (like numebrs).
  +right_half({step:true})
    p.hem-around Unlike sentences.
    .slide
      p.hem-around Unlike utterances (which are events, with a date and time).

+slide_middle
  p.center inference patterns
+slide_middle
  p 1. What Ayesha said is true.
  p 2. Sentences are not the kinds of thing that can be true or false.
  p 3. Therefore what Ayesha said is not a sentence

+slide_middle
  p 1. What Ayesha said is what Steve said.
  p 2. Ayesha’s utterance is not Steve’s utterance.
  p 3. Therefore what Ayesha said is not a utterance.

+slide_middle
  p 1. What Ayesha is true.
  p 2. What Steve said is false.
  p 3. Therefore what Ayesha said is not what Steve said.

