---cson
layout: 'deck_unit'
title: "Sentences vs Utterances"
tags: []
description: "Sentences are timeless and cannot (strictly speaking) be true or false outright; utterances are events in the lives of people and can be true or false."
depends: ['']
---

include ../../../../fragments/unit_mixins
include ../../../../fragments/words_things_mixins




.notes: :t
  Strictly speaking it’s not sentences but utterances which bear truth.

+slide_middle
  p.em-above.indent ‘You have to turn your headlamps on 
    br
    span when it’s raining in Sweden.’
  .notes How do I know it’s raining in Sweden
  .slide
    p.em-above.indent ‘Dogs must be carried.’ 
      span.slide / ‘Shoes must be worn.’
  .slide
    p.em-above.indent ‘This recently became my favourite new song.’

+slide_middle
  .notes: :t
    Not everyone agrees about this. Consider for instance
    Devitt and Sterelny’s 1999 textbook.
  p
    span ‘the core of a 
    span.sentence sentence
    span ’s meaning is its truth condition; 
    span that is, the property of a 
    span.sentence sentence
    span   which, together with the world, 
    span makes it true or false.’ 
  p.right.grey-text Devitt and Sterelny, 1999 p. 11
  .slide
    +highlight('.sentence', 'red')

+slide_middle
  p.center But what are utterances?
  .notes: :t
    They’re actions which typically occur in, and are constitutive of, lingiustic communication.
    Hard to define because not all utterances are communicative. 
  .notes: :t
    Part of the point is to avoid distinguishing oral and manual communication.

+slide_rh_white({timer:true})
  +left_half
    p.center sentence
    p.em-above Is timeless.
    p.em-above Can be uttered by different people.
    p.em-above Is a structure of words.
    p.em-above Cannot be true or false (strictly speaking).
  +right_half
    p.center utterance
    p.em-above Has a date.
    p.em-above Has a particular utterer or utterers.
    p.em-above Is a structure of events.
    p.em-above Can be true or false.
  +show-timer('timer1')
  +start-timer('timer1')

