---cson
layout: 'deck_unit'
title: "Your Lecturer"
tags: []
description: """
  ... does a mix of research combining philosophy with psychology on questions about mindreading,
  metacognition and joint action. Spent a day and a night in the now-destroyed city of Palmyra.
  """
exercises : [
]
---

include ../../../fragments/unit_mixins

