---cson
layout: 'deck_unit'
title: "Components of This Course"
tags: []
description: """
  How your assessment breaks down, and what the formative (non-assessed) work is.
  """
exercises : [
]
streamId:''
---

include ../../../fragments/unit_mixins

+slide_rh_white({step:true})
  +left_half
    .hem-around-children
      p Assessed Work
      p.indent 2 hours exam (?!), 
        br
        span summer 2021
      p.indent.slide take home exam, November 2020
  +right_half({step:true})
    +blur('.left-half')
    .hem-around-children
      .slide
        p Formative Work
        p.indent weekly seminar tasks on yyrama
      p.indent.slide in-lecture micro-tasks on zoxiy


//- open hours
//- informal discussion


