---cson
layout: 'deck_unit'
title: "Dretske’s Criteria for Perception and Awareness"
tags: []
description: """
  
  """
---


include ../../../fragments/unit_mixins
include ../../../fragments/lecture_mixins
include ../../../fragments/central_themes_mixins



+slide
  p perception
  p.notes.handout.show: :t
    ‘(1) the information in these states should be available for the control
    and guidance of action (if the experience is unconscious, of course, the
    actor need not be aware of this influence); and (2) the information should
    be extracted from stimulation (as it is with conscious experiences) by
    accredited receptor systems.’
  p.notes.handout.show: :t
    ‘Tp: S perceives x = S has a perceptual experience (in our special
    inclusive sense) that provides (in a direct way) information about x’

  p.em-above awareness
  p.notes.handout.show: :t
    ‘rTa: S is aware of X = S perceives X, and information about X is available
    to S as a reason (justification) for doing what she wants (chooses,
    decides) to do’
