---cson
layout: 'deck_unit'
title: "Points of View"
tags: []
description: """
  Things with minds often or always have points of view on the world.
  But what is it to have a point of view?
  """
exercises : [
  "/ex/TorF/qq/A perspective is a point of view|Having a perspective is just a matter of occupying a viewpoint|Your point of view might include things which do not exist|Points of view can differ even if they are points of view on exactly the same things"
]
streamId: '482f5261-6200-4528-b0ae-44292e2b8f90'
book: [
  'Crane, T. (2001). Elements of Mind: An Introduction to the Philosophy of Mind. Oxford University Press, Oxford.'
]
---

include ../../../fragments/unit_mixins

+slide_middle({bkg:'lost-memory-of-skin.jpg'})
  +style('img.bkg', {'max-height':'700px', 'width':'auto', 'filter':'saturate(0) contrast(1.2)'})
  .notes: :t
    Russell Bank’s novel ‘The Lost Memory of Skin’ does something 
    extraordinary. It creates empathy for a homeless pedophile
    called ‘The Kid’.
  .notes: :t
    It allows you to understand something of the world from The Kid’s 
    point of view.
  .slide
    +style('img.bkg', {'filter':'saturate(0) contrast(1.2) blur(3px)'})
    .notes: :t
      This is a feature of many novels, and plenty of fact books too.
      They allow you to understand things from another, perhaps quite alien,
      point of view.
    .notes: :t
      Why am I even mentioning this obvious truth?
      You and I each have a point of view.
      And having a point of view is a fundamental part of having a mind like yours or mine.
    .notes: :t
      So thinking about points of view on the world seems like a good place to start in 
      a course called ‘Mind and Reality’.


+slide_middle
  .hem-around-children
    p a point of view:
    p.indent some things
    p.indent presented in a certain way
  .slide
    .terminology
      p.em-above Terminology:
      p.indent 
        span.step2.hide A 
        span perspective
        span.step2.hide   is a point of view.
      .slide
        +show('.step2')
      .slide
        p.indent 
          span Intentionality
          span.step3.hide  is the feature of you, or some states of you, in virtue of which you have a point of view.
      .slide
        +show('.step3')
    .slide
      +blur('.terminology')

+slide_middle({bkg:'viewpoint.jpg'})
  p.center viewpoint
  .notes: :t
    A viewpoint is just a location and a direction.
  .notes: :t
    I can occupy a viewpoint, as can you.
    But you don’t have to have a mind to occupy a viewpoint.
  .notes: :t
    A rock can occupy a viewpoint.
    True, rocks don’t usually have fronts.
    But we could mark the front of the rock with some paint.
  .notes: :t
    Then there would be a sense in which the rock is occupying a viewpoint.
    And if you move the rock, you could then occupy the same viewpoint the rock once occupied.

+slide_middle({timer:true, bkg:'viewpoint.jpg'})
  +style('img.bkg', {filter:'opacity(0.6) blur(2px)'})
  p.center Is having a point of view 
    br
    span just a matter of occupying a viewpoint?
  .notes: :t
    The idea that something with a mind might have a point of view is potentially puzzling.
    (Actually, we’re going to see that it’s extremely puzzling.)
    But the idea that something occupies a viewpoint is not puzzling at all.
  .notes: :t
    So if we could say that having a point of view is just a matter of occupying a viewpoint,
    our lives as philosophers of mind would be much simpler.

  +show-timer
  +start-timer


+slide_middle
  .notes: :t
    We can see a problem with thinking of having a point of view as just a matter of occupying 
    a viewpoint by returning  to the two aspects.
  .hem-around-children
    p a point of view:
    p.indent.things some things
    p.indent.aspect presented in a certain way
  .slide
    +highlight-row('.aspect')
    .notes: :t
      What looks soft to me might appear hard to you.
    .notes: :t
      If I though having a point of view was just a matter of occupying a viewpoint,
      this would make no sense.
      After all, the viewpoint is just a location and a direction.
    .notes: :t
      There is no room in the notion of a viewpoint for 
      the possibility that things to appear one way to me and another to you.
  .slide
    +unhighlight-row('.aspect')
    +highlight-row('.things')
    .notes: :t
      To understand your point of view, I may need to identify things which do not exist.
      Perhaps you mistakenly read ‘The Lost Memory of Skin’ as a biography.
      So from your point of view, The Kid is a person.
      You might go looking for him, trying to find him.
    .notes: :t
      If I though having a point of view was just a matter of occupying a viewpoint,
      this would make no sense.
      After all, the viewpoint is just a location and a direction.
      It cannot in any way encompass things which do not exist.
      Like The Kid.

+slide_middle
  p.center Is having a point of view 
    br 
    span just a matter of occupying a viewpoint?  
    span.slide No.

+slide_middle
  .hem-around-children
    p a point of view:
    p.indent some things
    p.indent presented in a certain way
  .notes: :t
    So this course, ‘Mind and Reality’, is a course about points of view.
  .notes: :t
    Having a point of view is a fundamental part of having a mind like yours or mine.
    We will be investigating a variety of philosophical questions about points of view.
    Let me start by tell you what those questions are ...
