---cson
layout: 'deck_unit'
title: "Seminar Tasks (yyrama)"
tags: []
description: """
  The most important work on this course, apart from the exams, is the weekly seminar tasks.
  You need to submit some work before your seminar each week.
  This mostly involves writing, or re-writing, a mini essay as well as peer-reviewing another
  student’s work.
  The seminars exist for you to discuss your writing.
  """
---

include ../../../fragments/unit_mixins
include ../../../fragments/lecture_mixins
include ../../../fragments/central_themes_mixins

+slide_middle
  p.hem-around.center share your writing with your seminar tutor each week
  .slide
    +blur('p:eq(0)')
    p.hem-around.center seminars are to discuss your writing
  .slide
    +blur('p:eq(1)')
    p.center peer review

+slide_middle
  p.center.huge-glow yyrama
  p.center(style='margin-top:-75px;') .butterfill.com