---cson
layout: 'deck_unit'
title: "zoxiy In-Lecture Micro-Tasks"
tags: []
description: """
  Watch the lectures with a friend (or several) that you can 
  talk to as they go on.
  Answer the questions on zoxiy together, or after debating them.
  """
streamId: '4212a42b-a721-4bbc-a4de-1ec0f50acd63'
---

include ../../../fragments/unit_mixins
include ../../../fragments/lecture_mixins
include ../../../fragments/central_themes_mixins

+slide_middle
  p.hem-around.center 
  .slide
    +blur('p:eq(0)')
    p.hem-around.center Watch lectures with a friend, and talk.
  .slide
    +blur('p:eq(1)')
    p.center Answer the questions on zoxiy together, or after debating them.

+slide_middle
  p.center.huge-glow ex.zoxiy.xyz
