---cson
layout: 'frontpage'
title: 'Mind and Reality: Nine Weeks of Philosophy'
---

include ../../fragments/outline_mixins
include ../../fragments/unit_mixins


html: body(style='background-color:#f5f5f5')
  //- div(style="background-image:url('/img/bkg/mix/bkg02.jpg');background-position:center center; background-repeat:no-repeat; background-size:contain;width:100vw;height:100vh; position:absolute; left:0;top:0;opacity:.5;z-index:-1")
  //- img(src='/img/bkg/mix/bkg02.jpg', style='position:absolute; left:0;top:0;width:100%;height:auto;opacity:.5;z-index:-1')
  //- .mix-container(style='mix-blend-mode:overlay')

  .hero-unit
    h1 Mind and Reality
    h2 
    p --- lecturer: s.butterfill@warwick.ac.uk
    p A course at the University of Warwick.


  .row
    .span9
      #slides_and_handouts
        h2 404 Error : Page Not Found
        p Super sorry you are seeing this, something went wrong.
        p If you have time, please let me know exactly how you got to this page & I will try to fix it.
