---cson
layout: 'default2'
title: 'Lecture 03'
subtitle: 'Mind & Reality'
weburl: ''
units: []
lecture_date: '2020/10/13'
recordings: []
recordingUnitNames: []
recordingStreamIds: []
hidden: true
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/words_things_mixins

- var images = get_images('mix')

+title_slide({document:document, images:images})


//- 
  TOOD

  # REPEAT THIS:

  ftbe: I can think about some objects but not about others. 
  
  q: What sort of relation between a subject and an object has to obtain if the subject is able to think about the object? 
  
  Answer: the subject has to be acquainted with the object.

  - Link to the three questions abotu correspondence
  - link to the pragmatist alternative

  mention these sources (perhaps an optional unit on each?)

    (READING : Hasan, Ali, and Richard Fumerton. ‘Knowledge by Acquaintance vs. Description’. In The Stanford Encyclopedia of Philosophy, edited by Edward N. Zalta, Spring 2020. Metaphysics Research Lab, Stanford University, 2020. https://plato.stanford.edu/archives/spr2020/entries/knowledge-acquaindescrip/. 
    [Sainsbury, 1986] Sainsbury, R. M. (1986). Russell on Acquaintance. Royal Institute of Philosophy Supplements, 20:219–244.
    Also Russell x3 from PTL lectures)