---cson
layout: 'week_outline'
title: 'Week 01'
subtitle: 'Mind & Reality'
theme: 'Points of View'
weburl: ''
lectures: [
  'lecture_01',
  'lecture_02'
]
start_date: '2020/10/05'
liveMeeting: true
hidden: false
specialTasks : [
  {
    sectionHeading : 'Sign Ups'
    preInstructions : ''
    tasks : [
      'sign up for a Mind & Reality weekly seminar group on <a href="https://tabula.warwick.ac.uk/" target="_blank">tabula</a>'
      'note the name of your seminar leader (Dino or Steve) on the seminar you signed up for on tabula, and the time of your seminar'
      'register yourself on <a href="https://ex.zoxiy.xyz/" target="_blank">zoxiy</a>'
      'register yourself on <a href="https://yyrama.butterfill.com" target="_blank">yyrama</a>'
    ]
    postInstructions : """
      Please register with your university email and the name your seminar tutor will know you by 
      (so that they will know what work you have done each week).
      </p><p>
      I’m sorry you have to register on three separate systems (it’s my fault for not making
      my web applications interface with the university authentification (although to be fair, that has been
      a bit of a moving target)).  
      </p><p>
      (Can it be right to add so many parenthetical marks right at the start? (Especially nested ones!). 
      I’m sure people want to get on and see what’s next.) (But they can scroll right past this text, which
      I’m sure no one reads. (That’s what the ticks are for. (To make sure people know where the things they 
      have to do are. (But they probably won’t read the ticks either.)))) 
      </p><p>
      Please make a note of your yyrama and zoxiy passwords: if you lose them, there’s no way to recover them.
      </p>
      """
  }
]
---

