---cson
layout: 'week_outline'
title: 'Week 02'
subtitle: 'Mind & Reality'
theme: 'Cognitive Penetration'
weburl: ''
lectures: [
  'lecture_03',
  'lecture_04'
]
seminar: [
  {
    url:'https://yyrama.butterfill.com/course/view/MindAndReality_2020/taskSet/o9RGTXFGRi6gTyi8y/task/0',
    type:'mini-essay'
  },
  {
    url:'https://yyrama.butterfill.com/course/view/MindAndReality_2020/taskSet/o9RGTXFGRi6gTyi8y/task/1',
    type:'peer review'
  }
]
start_date: '2020/10/12'
liveMeeting: true
hidden: true
---

