---cson
layout: 'week_outline'
title: 'Week 08'
subtitle: 'Mind & Reality'
theme: 'Personal Identity'
weburl: ''
start_date: '2020/11/23'
lectures: [
  'lecture_13',
  'lecture_14'
]
seminar: [
  {
    url:'https://yyrama.butterfill.com/course/view/MindAndReality_2020/taskSet/XqZ36mE9koqENPX6h/task/2',
    type:'re-written essay'
  }
]
assessedWork: """
  Questions for the take-home exam should be released this week, I think.
  """
liveMeeting: true
hidden: true
---
