---cson
layout: 'week_outline'
title: 'Week 01'
subtitle: 'Mind & Reality'
theme: 'Points of View'
weburl: ''
lectures: [
  'lecture_01',
  'lecture_02'
]
start_date: '2020/10/05'
liveMeeting: true
hidden: false
---

