---cson
layout: 'default2'
title: 'Welcome'
subtitle: 'Mind & Reality'
lecture_date: '2020/10/01'
weburl: ''
units: []
recordings: []
recordingUnitNames: []
recordingStreamIds: []
hidden: false
streamId : ['a16f2e7d-9e7d-49d4-a2e5-24bdebdf73b4']
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/words_things_mixins

- var images = get_images('bees')

+slide_middle
  p.center.huge-glow welcome

+slide_middle
  p.center goals for Mind & Reality
  .notes: :t
    This is a course about the relation between your mind and 
    the bits of the world around you that you interact with.
  .notes: :t
    We will investigate what it is to have a point of view,
    or perspective, on the world.
  .notes: :t
    This will involve discussing some hard questions about the nature of 
    thought: about fears, hopes, beliefs, desires, and the rest.
  .notes: :t
    Because the course is also supposed to include not just Philosophy of Mind
    but also Metaphysics and Epistemology,
  .notes: :t
    we will also investigate a metaphysical question about personal identity
  .notes: :t
    and an epistemological question about the relation between theories and observations.


+slide_middle
  p.center next steps
  .notes: :t
    Go straight to Lecture 1.
    Then please come back and look at the week-by-week tasks below.
  .notes: :t
    I’ll see you in the live online meeting on Thursday of week 1.

+slide_middle
  p.hem-around.center content : s.butterfill@warwick.ac.uk
  p.hem-around.center admin (e.g. tabula) : philundergrad@warwick.ac.uk
  .notes: :t
    But before then you can email me if you get stuck?
    I’m sorry if it’s a bit old-fashioned to use email,
    but I never got into facebook or anything since.
  .notes: :t
    When I realised I was going to record the lectures this year,
    I did spend an evening with tiktok.
    (Do people still use that?)
  .notes: :t
    I thought I might learn to communicate.
    Didn’t work.
    I still feel damaged by the experience.
  .notes: :t
    Anyway, you can try emailing me if you have a problem.

+slide_middle
  p.center now please go to lecture 1
