---cson
layout: 'deck_unit'
title: "Conclusion: Acquaintance and Massive Reduplication"
tags: []
description: """
  Our question is,
  How do your thoughts connect to the things about which you think?
  Russell’s Principle of Acquaintance provides one possible answer.
  It may be possible to justify accepting the Principle of Acquaintance by appeal to the 
  possibility of massive reduplication.
  """
depends: ['']
book: [
]
exercises : [
]
streamId: '11a1d8b3-49eb-442b-93b4-1c6c78a48da7'
---

include ../../../../fragments/unit_mixins
include ../../../../fragments/lecture_mixins


+conclusion
  +reset
    +_slide_inner
      .hem-around-children
        .slide 
          p How do your thoughts connect to 
            br
            span the things about which you think?
        .slide 
          p Russell’s Principle of Acquaintance provides 
            br
            span one possible answer.
        .slide
          p
            span It may be possible to justify accepting 
            br
            span the Principle of Acquaintance by appeal to 
            br
            span the possibility of massive reduplication.

