---cson
layout: 'deck_unit'
title: "Conclusion: Acquaintance and Massive Reduplication"
tags: []
description: """
  Our question is,
  How do your thoughts connect to the things about which you think?
  Russell’s Principle of Acquaintance provides one possible answer.
  It may be possible to justify accepting the Principle of Acquaintance by appeal to the 
  possibility of massive reduplication.
  """
depends: ['']
book: [
]
exercises : [
]
---

include ../../../../fragments/unit_mixins
include ../../../../fragments/lecture_mixins


+conclusion
  +reset
    +_slide_inner
      .hem-around-children
        p.slide How do your thoughts connect to the things about which you think?
        p.slide Russell’s Principle of Acquaintance provides one possible answer.
        p.slide: :t
          It may be possible to justify accepting the Principle of Acquaintance by appeal to the 
          possibility of massive reduplication.

