---cson
layout: 'deck_unit'
title: "The Argument from Massive Reduplication"
tags: []
description: """
  The argument from massive reduplication was not intended as an argument for Russell’s principle,
  although we can attempt to adapt it to that end.
  But what is the argument from massivie reduplication, and what does the argument aim to show?
  Does it succeed?
  """
depends: ['']
book: [
  """Russell, B. (1910). Knowledge by Acquaintance and Knowledge by Description. Proceedings of the Aristotelian Society, 11:108–128"""
  """pages 20--22 of Strawson, P. F. (1959). Individuals. Meuthen, London."""
]
exercises : [
  "/ex/TorF/qq/Propositions can be true or false|Propositions are sentences|Logic makes your lecturer die inside",
]
---

include ../../../../fragments/unit_mixins
include ../../../../fragments/words_things_mixins

+slide_middle
  p.center a failure to think

+slide_middle
  .notes: :t
    Neighbours.
    We never met them (they don’t keep our kind of hours.)
    [bitter rivals/minnie]
  p ‘
    span.the1 The vocalist
    span  is having a good day.’
  .slide
    p.em-above ‘Yes, but it sounds like 
      span.the2 the drummer
      span  is all over the place again.’
  .slide
    p.em-above Revelation: it’s a collective with rotating members
  .slide
    +highlight('.the1', 'pink')
  .slide
    +highlight('.the1', 'yellow')

+slide_middle
  p: :t
    When we rely on knowledge by description,
  p: :t
    we are always at risk
  p: :t
    of not thinking about anything.

+slide_middle
  p But this is an isolated problem.
+slide_middle
  p Bad inference
  p.em-above.indent 1. On any given occasion, it is possible that I am wrong.
  p.em-above.indent Therefore:
  p.em-above.indent 2. It is possible that I am invariably wrong.

+slide_middle
  p: :t
    Massive reduplication: 
    For all we know, there may be a distant
    region of our universe with duplicates of everything around here.


+slide_middle
  p: :t
    1. Suppose you were not acquainted with anything at all.
  p: :t
    2. Then all your thoughts would be based on knowledge by description.
  p: :t
    3. But massive reduplication is possible for all we know.
  p: :t
    4. Then you might not ever be thinking about anything, for all we know.
  p: :t
    5. But we do know that you sometimes succeed in thinking about some things.
  p: :t
    6. Therefore you are acquainted with at least one thing.

+slide_middle
  p The possibility of massive reduplication provides us with
  p an argument for Russell’s principle.
    