---cson
layout: 'deck_unit'
title: "Russell’s Argument on Acquaintance"
tags: []
description: """
  ‘I hold that acquaintance is wholly a relation, 
  not demanding any such constituent of the mind as is supposed by 
  advocates of ‘ideas’’ (Russell, 1910 p. 212).
  """
exercises : [
  "/ex/TorF/qq/It is usually good to write about yourself in a philosophy essay|The main point of a philosophy essay is to express your opinions",
  "/ex/TorF/qq/In general, acquaintance is a relation between a thinker and a thing (such as a rock or a person, perhaps)|In general, acquaintance is a relation between a thinker and an idea",

]
---
include ../../../../fragments/unit_mixins
include ../../../../fragments/words_things_mixins


+slide_middle({photo:'russell.jpg'})
  .notes Recall the Principle ...
  .quote1
    .notes.handout \emph{The Principle of Acquaintance}:
    p.notes.handout.ctd.show
      span ‘Every proposition which we can understand must be composed wholly of constituents with which we are acquainted’
      p.notes.handout.ctd \citep[p.~209]{Russell:1910fa}
    p.right.grey-text Russell, 1910 [1963] p. 209
  .notes: :t
    Structure of larger argument -- Russell’s own argument is interesting
    but doesn’t go deep enough; we need to think more carefully about
    why knowledge of reference is needed.

+slide_middle
  p.center What is Russell’s argument?

+slide({photo:'russell.jpg'})
  p.notes.handout.ctd.show.q3
    span It seems to 
    span.me me 
    span  that the truth of this principle is evident as soon as  
    span the principle is understood’ 
  .notes.handout.ctd \citep[pp.~210--11]{Russell:1910fa}.
  p.right.grey-text Russell, 2010 pp. 210-11
  .slide
    +invert('.me')
    .notes Never talk about yourself. It’s always irrelevant.
    .notes But a real argument does follow ...

+slide({photo:'russell.jpg'})
  p
    span ‘the theory that  
    span.judgements judgements
    span  consist of ideas ... is fundamentally mistaken. 
  .middlePart
    .slide
      p.toblur: :t
        The view seems to be that there is some mental existent which may be called the 
        ‘idea’ of something outside the mind of the person who has the idea, and that, 
        since judgement is a mental event, its constituents must be constituents of the 
        mind of the person judging. 
    .slide
      p.toblur
        span But in this view ideas become a veil between us and 
        span outside things
        span.step2.hide  --- we never really, in knowledge, attain //p. 212// to the things 
        span.step2.hide we are supposed to be knowing about, but only to the ideas of those things. 
    .slide
      +show('.step2')
  .slide
    p.toblur: :t
      The relation of mind, idea, and object, on this view, is utterly obscure ... 
  .slide
    +collapse('.middlePart')

+slide({photo:'russell.jpg'})
  p
    span ‘the theory that  
    span.judgements judgements
    span  consist of ideas ... is fundamentally mistaken. 
  p.toblur: :t
    The relation of mind, idea, and object, on this view, is utterly obscure ... 
  .slide
    p.toblur: :t
      I ... see no reason to believe that, when we are acquainted with an object, 
      there is in us something which can be called the ‘idea’ of the object. 
  .slide
    span.toblur On the contrary, I hold that 
    span  acquaintance is wholly a relation, 
    span not demanding any such constituent of the mind as is supposed by 
    span advocates of ‘ideas’.’
    p.right.grey-text Russell, 1910 [1963] pp. 211–2
  .notes.handout: :t
    ‘I think the theory that  
    judgements consist of ideas ... is fundamentally mistaken. 
    The view seems to be that there is some mental existent which may be called the 
    ‘idea’ of something outside the mind of the person who has the idea, and that, 
    since judgement is a mental event, its constituents must be constituents of the 
    mind of the person judging. 
    But in this view ideas become a veil between us and 
    outside things—--we never really, in knowledge, attain //p. 212// to the things 
    we are supposed to be knowing about, but only to the ideas of those things. 
    The relation of mind, idea, and object, on this view, is utterly obscure ... 
    I ... see no reason to believe that, when we are acquainted with an object, 
    there is in us something which can be called the ‘idea’ of the object. 
    On the contrary, I hold that acquaintance is wholly a relation, 
    not demanding any such constituent of the mind as is supposed by 
    advocates of ‘ideas’’
    \citep[pp.~211--12]{Russell:1910fa}.
  .slide
    +blur('.toblur')
    .notes: :t
      This is hardly on a part with ‘evident as soon as it is understood’.
      Either the Principle of Acquaintance is compatible with the theory of ideas 
      and so empty, or else it is not compatible with the theory of ideas and 
      so stands in need of justification.
  


+slide
  p Reconstruction of Russell’s argument
  .hem-around-children
    p 
      span When things go well, our 
      span.judgement thought
      span s are about things in the world. [points of view]
    .slide
      p Any 
        span.t-of-j theory of thought
        span  needs to elucidate the 
        span.relation relation between a thoughts and and things
        span .
    .slide
      p Invoking ideas to do this makes matters more, not less, obscure.
    .slide
      p 
        span.therefore Therefore
        span :
      p The 
        span.intentionality intentionality
        span   of thought consists at bottom in a relation between a thinker and an object.
    .slide
      p Terminology: call this relation ‘acquaintance’.
  .slide
    +invert('.intentionality')
    .notes: :t
      It’s not much of an argument, but it’s interesting.
  .slide
    +uninvert('.intentionality')
    +invert('.relation')
  .slide
    +uninvert('.relation')

+slide_rh_white
  .notes: :t
    We have seen that Russell says two things. I don’t think they can both be true.
  +run_across
    p.center Can these both be true Mr R?
  +left_half
    p: :t
      ‘the truth of this principle is evident as soon as  
      the principle is understood’ 
    .notes.handout.ctd \citep[pp.~210--11]{Russell:1910fa}.
    p.right.grey-text Russell, 2010 pp. 210-11
  +right_half
    p: :t
      I hold that acquaintance is wholly a relation, 
      not demanding any such constituent of the mind as is supposed by 
      advocates of ‘ideas’.’
    p.right.grey-text Russell, 1910 [1963] pp. 211–2