---cson
layout: 'deck_unit'
title: "Conclusion"
tags: []
description: """
  Lewis was right, ‘Identity is utterly simple and unproblematic’. 
  Or so I claim. But maybe you can show this is wrong.
  """
book: [
  """(hard) Sider, T. (2001). Criteria of Personal Identity and the Limits of Conceptual Analysis. Nouˆs, 35(s15):189–209"""
]
streamId:'633670df-034c-4b31-996d-8bd479cc4848'
---

include ../../../../fragments/unit_mixins
include ../../../../fragments/lecture_mixins
include ../../../../fragments/central_themes_mixins


+conclusion

+slide_middle
  .question
    p
      span.of [Olson’s formulation]  
      span: :t
        If a person exists at one time and something exists at another time, 
        under what possible circumstances is it the case that the person is the thing?
  .slide
    p.em-above Answer 1: psychological continuity
  .slide
    p
      span Under exactly those in which the 
      span.person person
      span  can, at the first time,  
      span.remember remember
      span  an experience the second mentioned thing has at the second time, or vice versa.  
  .slide
    p.em-above Answer 2: biological continuity
  .slide
    p
      span Under exactly those in which the 
      span.person person’s biological organism
      span  is continuous with the second thing’s biological organism.  

//- +slide_middle
//-   p There is an intricate question about personal identity and survival.
//-   .slide
//-     p.em-above Psychological continuity views provide one candidate answer.
//-   .slide
//-     p.em-above Biological continuity views provide another.
//-   .slide
//-     p.em-above Both candidate answers face objections.



+slide_middle
  .notes recall this quote from the very start of our discussion ...
  .quote
    p: :t
      ‘Identity is utterly simple and unproblematic. 
    p: :t
      Everything is identical to
      itself; nothing is ever identical to anything else except itself. 
    p: :t
      There is
      never any problem about what makes something identical to itself;
      nothing can ever fail to be. 
    p: :t
      And there is never any problem about what makes two things identical; 
      two things never can be identical.’
  p.right Lewis, 1989 pp. 192--3
