---cson
layout: 'deck_unit'
title: "Does Identity Matter?"
tags: []
description: """
  
  """
streamId:'8783c45c-9617-4edf-bab6-89a786616507'
---

include ../../../../fragments/unit_mixins
include ../../../../fragments/lecture_mixins
include ../../../../fragments/central_themes_mixins



+slide_middle
  p.center biological continuity and responsibility


+slide_middle
  .notes.handout: :t
    If ‘the relations of practical concerns  that typically go along with our identity through time  are closely connected with psychological continuity 
    [...], then the Biological Approach does have an  interesting  ethical consequence, 
    namely that those practical relations are not necessarily connected with numerical identity’ 
    \citep[p.~70]{olson:1999_human}.
  .hem-around-children
    p
      span If ‘
      span.extra the relations of 
      span practical concerns
      span.extra   that typically go along with our 
      span.extra identity through time 
      span  are closely connected with psychological continuity 
    p
      span [...], then the Biological Approach does have an 
      span.extra  interesting  
      span ethical consequence, 
    p
      span namely that those practical relations are not necessarily 
      span connected with numerical identity’ 
  .notes.handout.ctd \citep[p.~70]{olson:1999_human}.
  p.right.grey-text Olson 1997, p. 70
  .notes: :t
    Do you ever feel like philosophers could be less wordy?
    EXercise: take your pen and delete some words.
  .slide
    +hide('.extra')


+slide_rh_white({step:false, timer:true})
  +run_across
    p.center Inconsistent Triads
  +left_half
    .hem-around-children
      p Sam was an embryo; unless she recovers, Sam will be in a PVS.
      p Person essentialism is true.
      p: :t
        The Psychological Continuity View of personal identity is true.
  +blur('.left-half', '5px')
  +right_half
    .hem-around-children
      p: :t
        If Tom and Ayesha were to swap brains for a day, 
        Tom would later be morally responsible for actions involving
        Ayesha-body.
      p.responsible: :t
        You are only responsible for the actions of things 
        numerically identical with you.
      p The Biological Continuity View of personal identity is true.
  +show-timer
    .notes: :t
      Which claim is Olson denying?
  +start-timer
  .slide
    +highlight('.responsible', 'red')



+slide_middle
  .hem-around-children
    p
      span If ‘
      span.extra the relations of 
      span practical concerns
      span.extra   that typically go along with our 
      span.extra identity through time 
      span  are closely connected with psychological continuity 
    p
      span [...], then the Biological Approach does have an 
      span.extra  interesting  
      span ethical consequence, 
    p
      span namely that those practical relations are not necessarily 
      span connected with numerical identity’ 
  .notes.handout.ctd \citep[p.~70]{olson:1999_human}.
  p.right.grey-text Olson 1997, p. 70
  +hide('.extra')





