---cson
layout: 'deck_unit'
title: "Personal Identity"
tags: []
description: """
  
  """
---

include ../../../../fragments/unit_mixins
include ../../../../fragments/lecture_mixins
include ../../../../fragments/central_themes_mixins




+slide_middle
  p.notes.handout.show: :t
    ‘consider the search for the criterion of personal identity over time. I
    say there is no fact of the matter whether the correct criterion is bodily
    or psychological continuity. There exist two candidate meanings for talk
    of persisting persons, one corresponding to each criterion, and there is
    simply no fact of the matter which candidate we mean’
  .notes.handout.ctd \citep[p.~189]{sider:2001_criteria}
  p.right.grey-text Sider, 2001 p 189


+slide
  p.notes.handout.show: :t
    The Persistence Question:
  p.notes.handout.show.ctd: :t
    ‘What does it take for a person to persist from one time to another---to
    continue existing rather than cease to exist? 
  .slide
    p.notes.handout.show.ctd: :t
      What sorts of adventures is
      it possible, in the broadest sense of the word ‘possible’, for you to
      survive, and what sort of event would necessarily bring your existence to
      an end? 
  .slide
    p.notes.handout.show.ctd: :t
      What determines which past or future being is you? 
    .notes.handout.ctd: :t
      Suppose you
      point to a child in an old class photograph and say, “That’s me.” 
      What
      makes you that one, rather than one of the others? 
      What is it about the way
      she relates then to you as you are now that makes her you? 
      For that matter,
      what makes it the case that anyone at all who existed back then is you?’
    .notes.handout.ctd \citep{olson:2019_personal}
  p.right.grey-text Olson, 2019

+slide
  p.notes.handout.show: :t
    The Persistence Question:
  p.notes.handout.show.ctd: :t
    ‘What does it take for a person to persist from one time to another---to
    continue existing rather than cease to exist? 
  .slide
  .slide
    p.em-above Four Answers
    p.hem-around.indent some kind of psychological continuity.
    p.hem-around.indent sameness of biological organism
    p.hem-around.indent it’s up to you (narrativism)
    p.hem-around.indent there is no informative, nontrivial answer to the question

+slide
  p.notes.handout.show: :t
    What am I?
  p.notes.handout.show.ctd: :t
    ‘What sort of things, metaphysically speaking, are you and I and other
    human people? [...]
  p.notes.handout.show.ctd: :t
    What, for instance, are we made of? Are we composed
    entirely of matter, as stones are, or are we partly or wholly immaterial?
    Where do our spatial boundaries lie, if we are spatially extended at all?
    Do we extend all the way out to our skin and no further, for instance? 
    [...]
  p.notes.handout.show.ctd: :t
    Are we substances---metaphysically
    independent beings---or is each of us a state or aspect or activity of
    something else?’
  .slide
    p.em-above Three Answers
    p.hem-around.indent You are a biological organism
    p.hem-around.indent You are spatial or temporal part of a biological organism
    p.hem-around.indent There is such thing as you
    

+slide
  .slide
    p.em-above.notes.handout.show: :t
      The Question of What Matters:
      What is the practical importance of facts about our persistence? Why does
      it matter? What reason have you to care whether you yourself continue to
      exist, rather than someone else just like you existing in your place?
      Imagine that surgeons are going to put your brain into my head and that
      neither of us has any choice about this. Suppose the resulting person will
      be in terrible pain after the operation unless one of us pays a large sum
      in advance. If we were both entirely selfish, which of us would have a
      reason to pay? Will the resulting person---who will presumably think he is
      you---be responsible for your actions or for mine? (Or both, or neither?)
  p.right.grey-text Olson, 2019
  .notes.handout.ctd \citep{olson:2019_personal}
