---cson
layout: 'deck_unit'
title: "Personal Identity, Buddhist Monks and Death"
tags: []
description: """
  
  """
---

include ../../../../fragments/unit_mixins
include ../../../../fragments/lecture_mixins
include ../../../../fragments/central_themes_mixins



+slide_middle
  p.notes.handout.show: :t
    ‘Buddhist philosophers argue that the illusion of a persisting self
    underlies our fear of death. Once we recognize that there is no self that
    persists across the lifespan, fear of death should be alleviated, since its
    very foundation has been undermined. Similarly, Derek Parfit argues that
    coming to believe that there is no unitary enduring self should lead to
    changes in practical attitudes, including [...] fear of death (1984, 281–2,
    347, 451)’
  .notes.handout.ctd \citep[p.~315]{nichols:2018_death}

+slide
  +img_clip('stich_2018_fig1.png')
  p.source Stich et al, 2018 figure 1
  .notes: :t
    caption:
    ‘Fig. 2. Belief that there is a core self that persists over time. Higher score indicates greater belief in a core self. Bars represent the standard error.’

+slide
  +img_clip('stich_2018_fig2.png')
  p.source Stich et al, 2018 figure 2
  .notes: :t

+slide
  +img_clip('stich_2018_fig3.png')
  p.source Stich et al, 2018 figure 3
  .notes: :t
    caption:
    ‘Fig. 3. Proportion of respondents saying they cope (or in the case of Ideal Tibetans, ought to cope) with the prospect of death by thinking about how there is no continuous self. Bars represent the standard error. No Christians reported using this strategy as a way of coping with death (horizontal line segment).’


+slide
  +img_clip('stich_2018_fig4.png')
  p.source Stich et al, 2018 figure 4
  .notes: :t
    caption:
    ‘Fig. 4. Score on the Fear of Personal Death scale divided by population, for the self-annihilation factor alone and for all six factors combined. Bars represent the standard error.’
  .notes: :t
    [background]
    ‘Participants filled out the Fear of Personal Death scale ...
  .notes: :t
    ‘The FPD is a scale of 31 items designed to assess what scares them most about the prospect of dying in a year, rated on a scale from 1 (totally correct) to 7’
  .notes: :t
    ‘The [FPD] scale comprises six factors: loss of self-fulfillment, loss of social identity, consequences to family and friends, transcendental consequences, self-annihilation, and punishment in the hereafter (see Supplemental Material for the full scale). We selected this scale because it contains a dimension that measures fear of future self-annihilation, which is the aspect of fear of death that is especially targeted by the Buddhist tradition. On the Buddhist tradition, there is no self, so one should not fear its future disappearance.’



+slide_middle({timer:true})
  p.notes.handout.show: :t
    ‘On every measure we used, the monastics deny the existence of the self. So why do they fail to show the expected reduction in fear of death?’
  +show-timer
  +start-timer

+slide_middle
  p.notes.handout.show: :t
    ‘“minimalism implies that any
    metaphysical view of persons which we might have is either epiphenomenal or a
    redundant basis for our practice of making judgements about personal identity
    and organizing our practical concerns around this relation” (Johnston 1997,
    150)’ \citep{shoemaker:2019_personal}.
